@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>"Ab abusu ad usum non valet consequentia"</h1>
    <p class="lead"> Нихуя не понял? Пора читать книге!</p>
    <p><a href="#" class="btn btn-info ">Blue button</a></p>

</div>

 